In [1]:
pip install requests beautifulsoup4

Requirement already satisfied: requests in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (2023.7.22)
Requirement already satisfied: soupsieve>1.2 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
from bs4 import BeautifulSoup
import os

In [3]:
url = 'https://data.gov.ie/dataset/dublinbikes-api'

# Send a request to the webpage URL
response = requests.get(url)
response.raise_for_status()  # This will raise an error if the request failed

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Find all links to CSV files
csv_links = [a['href'] for a in soup.find_all('a', href=True) if a['href'].endswith('.csv')]

# Download each CSV file
for link in csv_links:
    response = requests.get(link)
    response.raise_for_status()
    
    # Extract the filename from the link
    filename = os.path.basename(link)

    # Save the file
    with open(filename, 'wb') as file:
        file.write(response.content)

    print(f'Downloaded {filename}')

Downloaded dublin.csv
Downloaded dublinbikes_20180701_20181001.csv
Downloaded dublinbikes_20181001_20190101.csv
Downloaded dublinbikes_20190101_20190401.csv
Downloaded dublinbikes_20190401_20190701.csv
Downloaded dublinbikes_20190701_20191001.csv
Downloaded dublinbikes_20191001_20200101.csv
Downloaded dublinbikes_20200101_20200401.csv
Downloaded dublinbikes_20200401_20200701.csv
Downloaded dublinbikes_20200701_20201001.csv
Downloaded dublinbikes_20201001_20210101.csv
Downloaded dublinbikes_20210101_20210401.csv
Downloaded dublinbikes_20210401_20210701.csv
Downloaded dublinbikes_20210701_20211001.csv
Downloaded dublinbikes_20211001_20220101.csv
Downloaded dublinbike-historical-data-2021-10.csv
Downloaded dublinbike-historical-data-2021-11.csv
Downloaded dublinbike-historical-data-2021-12.csv
Downloaded dublinbike-historical-data-2022-01.csv
Downloaded dublinbike-historical-data-2022-02.csv
Downloaded dublinbike-historical-data-2022-03.csv
Downloaded dublinbike-historical-data-2022-04.csv
Downloaded dublinbike-historical-data-2022-05.csv
Downloaded dublinbike-historical-data-2022-06.csv
Downloaded dublinbike-historical-data-2022-07.csv
Downloaded dublinbike-historical-data-2022-08.csv
Downloaded dublinbike-historical-data-2022-09.csv
Downloaded dublinbike-historical-data-2022-10.csv
Downloaded dublinbike-historical-data-2022-11.csv
Downloaded dublinbike-historical-data-2022-12.csv
Downloaded dublinbike-historical-data-2023-01.csv
Downloaded dublinbike-historical-data-2023-02.csv
Downloaded dublinbike-historical-data-2023-03.csv
Downloaded dublinbike-historical-data-2023-04.csv
Downloaded dublinbike-historical-data-2023-05.csv
Downloaded dublinbike-historical-data-2023-06.csv
Downloaded dublinbike-historical-data-2023-07.csv
Downloaded dublinbike-historical-data-2023-08.csv
Downloaded dublinbike-historical-data-2023-09.csv
Downloaded dublinbike-historical-data-2023-10.csv
Downloaded dublinbike-historical-data-2023-11.csv
Downloaded dublinbike-historical-data-2023-12.csv
Downloaded dublinbike-historical-data-2024-01.csv

In [4]:
file_names = [
    'dublinbike-historical-data-2023-01.csv',
    'dublinbike-historical-data-2023-02.csv',
    'dublinbike-historical-data-2023-03.csv',
    'dublinbike-historical-data-2023-04.csv',
    'dublinbike-historical-data-2023-05.csv',
    'dublinbike-historical-data-2023-06.csv',
    'dublinbike-historical-data-2023-07.csv',
    'dublinbike-historical-data-2023-08.csv',
    'dublinbike-historical-data-2023-09.csv',
    'dublinbike-historical-data-2023-10.csv',
    'dublinbike-historical-data-2023-11.csv',
    'dublinbike-historical-data-2023-12.csv'
]

In [5]:
dataframes = []
for file_name in file_names:
    file_path = file_name
    try:
        df = pd.read_csv(file_path)
        dataframes.append(df)
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

# Concatenate all DataFrames into one and save to a new CSV file
if dataframes:
    dublin_data = pd.concat(dataframes, ignore_index=True)
    output_file = 'dublin_data_combined.csv'
    dublin_data.to_csv(output_file, index=False)
    output_file
else:
    print("No dataframes to concatenate.")

Error reading dublinbike-historical-data-2023-01.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-02.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-03.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-04.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-05.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-06.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-07.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-08.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-09.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-10.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-11.csv: name 'pd' is not defined
Error reading dublinbike-historical-data-2023-12.csv: name 'pd' is not defined
No dataframes to concatenate.

In [6]:
pip install requests

Requirement already satisfied: requests in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/raphaelbyrne/anaconda3/lib/python3.11/site-packages (from requests) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import urllib

# Reading the list of file names from a CSV file
with open('london_bikes_urls.csv', 'r') as f:
    csv_list = f.read().splitlines()

# Base URL for downloading the files
website = 'http://cycling.data.tfl.gov.uk/usage-stats/'

# Generating the complete URLs without using urllib.parse.quote()
url_list = [website + x for x in csv_list]
print(url_list)

['http://cycling.data.tfl.gov.uk/usage-stats/350JourneyDataExtract26Dec2022-01Jan2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/351JourneyDataExtract02Jan2023-08Jan2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/352JourneyDataExtract09Jan2023-15Jan2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/353JourneyDataExtract16Jan2023-22Jan2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/354JourneyDataExtract23Jan2023-29Jan2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/355JourneyDataExtract30Jan2023-05Feb2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/356JourneyDataExtract06Feb2023-12Feb2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/357JourneyDataExtract13Feb2023-19Feb2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/358JourneyDataExtract20Feb2023-26Feb2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/359JourneyDataExtract27Feb2023-05Mar2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/360JourneyDataExtract06Mar2023-12Mar2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/361JourneyDataExtract13Mar2023-19Mar2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/362JourneyDataExtract20Mar2023-26Mar2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/363JourneyDataExtract27Mar2023-02Apr2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/364JourneyDataExtract03Apr2023-09Apr2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/365JourneyDataExtract10Apr2023-16Apr2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/366JourneyDataExtract17Apr2023-23Apr2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/367JourneyDataExtract24Apr2023-30Apr2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/368JourneyDataExtract01May2023-07May2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/369JourneyDataExtract08May2023-14May2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/370JourneyDataExtract15May2023-21May2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/371JourneyDataExtract22May2023-28May2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/372JourneyDataExtract29May2023-04Jun2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/373JourneyDataExtract05Jun2023-11Jun2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/374JourneyDataExtract12Jun2023-18Jun2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/375JourneyDataExtract19Jun2023-30Jun2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/376JourneyDataExtract01Jul2023-14Jul2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/377JourneyDataExtract15Jul2023-31Jul2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/378JourneyDataExtract01Aug2023-14Aug2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/378JourneyDataExtract15Aug2023-31Aug2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/379JourneyDataExtract01Sep2023-14Sep2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/380JourneyDataExtract15Sep2023-30Sep2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/381JourneyDataExtract01Oct2023-14Oct2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/382JourneyDataExtract15Oct2023-31Oct2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/383JourneyDataExtract01Nov2023-14Nov2023.csv', 'http://cycling.data.tfl.gov.uk/usage-stats/384JourneyDataExtract15Nov2023-30Nov2023.csv']

In [8]:
import requests
import os

# Directory where you want to save the files
save_dir = 'downloaded_files'
if not os.path.exists(save_dir):
    os.makedirs(save_dir)

for url in url_list:
    # Extracting the file name from the URL
    file_name = url.split('/')[-1]
    file_path = os.path.join(save_dir, file_name)

    # Making the request and saving the file
    response = requests.get(url)
    if response.status_code == 200:
        with open(file_path, 'wb') as f:
            f.write(response.content)
        print(f"Downloaded {file_name}")
    else:
        print(f"Failed to download {file_name}")

Downloaded 350JourneyDataExtract26Dec2022-01Jan2023.csv
Downloaded 351JourneyDataExtract02Jan2023-08Jan2023.csv
Downloaded 352JourneyDataExtract09Jan2023-15Jan2023.csv
Downloaded 353JourneyDataExtract16Jan2023-22Jan2023.csv
Downloaded 354JourneyDataExtract23Jan2023-29Jan2023.csv
Downloaded 355JourneyDataExtract30Jan2023-05Feb2023.csv
Downloaded 356JourneyDataExtract06Feb2023-12Feb2023.csv
Downloaded 357JourneyDataExtract13Feb2023-19Feb2023.csv
Downloaded 358JourneyDataExtract20Feb2023-26Feb2023.csv
Downloaded 359JourneyDataExtract27Feb2023-05Mar2023.csv
Downloaded 360JourneyDataExtract06Mar2023-12Mar2023.csv
Downloaded 361JourneyDataExtract13Mar2023-19Mar2023.csv
Downloaded 362JourneyDataExtract20Mar2023-26Mar2023.csv
Downloaded 363JourneyDataExtract27Mar2023-02Apr2023.csv
Downloaded 364JourneyDataExtract03Apr2023-09Apr2023.csv
Downloaded 365JourneyDataExtract10Apr2023-16Apr2023.csv
Downloaded 366JourneyDataExtract17Apr2023-23Apr2023.csv
Downloaded 367JourneyDataExtract24Apr2023-30Apr2023.csv
Downloaded 368JourneyDataExtract01May2023-07May2023.csv
Downloaded 369JourneyDataExtract08May2023-14May2023.csv
Downloaded 370JourneyDataExtract15May2023-21May2023.csv
Downloaded 371JourneyDataExtract22May2023-28May2023.csv
Downloaded 372JourneyDataExtract29May2023-04Jun2023.csv
Downloaded 373JourneyDataExtract05Jun2023-11Jun2023.csv
Downloaded 374JourneyDataExtract12Jun2023-18Jun2023.csv
Downloaded 375JourneyDataExtract19Jun2023-30Jun2023.csv
Downloaded 376JourneyDataExtract01Jul2023-14Jul2023.csv
Downloaded 377JourneyDataExtract15Jul2023-31Jul2023.csv
Downloaded 378JourneyDataExtract01Aug2023-14Aug2023.csv
Downloaded 378JourneyDataExtract15Aug2023-31Aug2023.csv
Downloaded 379JourneyDataExtract01Sep2023-14Sep2023.csv
Downloaded 380JourneyDataExtract15Sep2023-30Sep2023.csv
Downloaded 381JourneyDataExtract01Oct2023-14Oct2023.csv
Downloaded 382JourneyDataExtract15Oct2023-31Oct2023.csv
Downloaded 383JourneyDataExtract01Nov2023-14Nov2023.csv
Downloaded 384JourneyDataExtract15Nov2023-30Nov2023.csv

In [9]:
# Directory where the files were saved
save_dir = 'downloaded_files'

# List all CSV files in the directory
file_list = [f for f in os.listdir(save_dir) if f.endswith('.csv')]

# Create a DataFrame for each file and store in a list
dataframes = []
for file in file_list:
    file_path = os.path.join(save_dir, file)
    try:
        df = pd.read_csv(file_path)
        dataframes.append(df)
    except Exception as e:
        print(f"Error reading {file}: {e}")

# Concatenate all DataFrames into one
if dataframes:
    london_data = pd.concat(dataframes, ignore_index=True)
    print(london_data.shape)
    print(london_data.head())
else:
    print("No dataframes to concatenate.")

london_data

/var/folders/nc/3_jdz57s3fb248nc5jbmskj40000gn/T/ipykernel_67595/1727438051.py:12: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
/var/folders/nc/3_jdz57s3fb248nc5jbmskj40000gn/T/ipykernel_67595/1727438051.py:12: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

(8090413, 11)
      Number        Start date Start station number  \
0  134489498  2023-09-30 23:59                 1083
1  134489510  2023-09-30 23:59                 3504
2  134489509  2023-09-30 23:59                 3504
3  134489508  2023-10-01 00:00                 1133
4  134489507  2023-09-30 23:59               300079

                   Start station          End date End station number  \
0  Commercial Street, Shoreditch  2023-10-01 00:08             200121
1              Moor Street, Soho  2023-10-01 01:02             300234
2              Moor Street, Soho  2023-10-01 01:04             300234
3          Baylis Road, Waterloo  2023-10-01 00:06               1078
4      London Street, Paddington  2023-10-01 00:16               1214

                           End station  Bike number Bike model Total duration  \
0         Shoreditch Court, Haggerston        57640    CLASSIC          9m 1s
1         Stratford Station, Stratford        57335    CLASSIC      1h 2m 59s
2         Stratford Station, Stratford        30035    CLASSIC      1h 4m 27s
3               Lambeth Road, Vauxhall        52136    CLASSIC         5m 59s
4  Kensington Olympia Station, Olympia        57534    CLASSIC        16m 29s

   Total duration (ms)
0               541565
1              3779551
2              3867026
3               359570
4               989750

,Number,Start date,Start station number,Start station,End date,End station number,End station,Bike number,Bike model,Total duration,Total duration (ms)
0,134489498,2023-09-30 23:59,1083,"Commercial Street, Shoreditch",2023-10-01 00:08,200121,"Shoreditch Court, Haggerston",57640,CLASSIC,9m 1s,541565
1,134489510,2023-09-30 23:59,3504,"Moor Street, Soho",2023-10-01 01:02,300234,"Stratford Station, Stratford",57335,CLASSIC,1h 2m 59s,3779551
2,134489509,2023-09-30 23:59,3504,"Moor Street, Soho",2023-10-01 01:04,300234,"Stratford Station, Stratford",30035,CLASSIC,1h 4m 27s,3867026
3,134489508,2023-10-01 00:00,1133,"Baylis Road, Waterloo",2023-10-01 00:06,1078,"Lambeth Road, Vauxhall",52136,CLASSIC,5m 59s,359570
4,134489507,2023-09-30 23:59,300079,"London Street, Paddington",2023-10-01 00:16,1214,"Kensington Olympia Station, Olympia",57534,CLASSIC,16m 29s,989750
...,...,...,...,...,...,...,...,...,...,...,...
8090408,131002744,2023-05-29 00:00,2685,"South Kensington Station, South Kensington",2023-05-29 00:03,3461,"Sloane Avenue, Knightsbridge",51118,CLASSIC,2m 52s,172684
8090409,131002745,2023-05-29 00:00,22179,"Exhibition Road, Knightsbridge",2023-05-29 00:14,200142,"Hammersmith Road, Hammersmith",55736,CLASSIC,14m 26s,866745
8090410,131002746,2023-05-29 00:00,1190,"Kennington Lane Rail Bridge, Vauxhall",2023-05-29 00:03,1205,"Black Prince Road, Vauxhall",54947,CLASSIC,3m 7s,187160
8090411,131002747,2023-05-29 00:00,200152,"Pitfield Street North,Hoxton",2023-05-29 00:04,200246,"Eagle Wharf Road, Hoxton",35110,CLASSIC,4m 36s,276002
8090412,131002748,2023-05-29 00:00,1028,"William IV Street, Strand",2023-05-29 00:24,200216,"Clements Road, Bermondsey",56642,CLASSIC,24m 2s,1442965

In [10]:
london_data.to_csv('london_data.csv',index=False)